// 2017-08-25
form.multicheckout #payment-methods .dfe-stripe {
	// 2017-08-25 A validation message.
	.message {
		background: #fae5e5;
		color: #e02b27;
		display: none;
		font-size: 1.3rem;
		margin: 0.5rem 0;
		padding: 0.25rem 0.5rem;
	}
}