// 2017-08-25
form.multicheckout #payment-methods .dfe-stripe {
	button {margin-top: 1rem;} // 2017-08-25 The «Pay» button.
	.inputs {max-width: 20em;}
	// 2017-08-25 A validation message.
	.message {
		background: #fae5e5;
		color: #e02b27;
		display: none;
		font-size: 1.3rem;
		margin-top: 0.5rem;
		padding: 0.25rem 0.5rem;
	}
}