<?xml version='1.0'?>
<config
    xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
    xsi:noNamespaceSchemaLocation='urn:magento:module:Magento_Store:etc/config.xsd'
>
    <default>
		<df_payment>
			<stripe>
				<!--
2016-03-06
How is a payment method's getConfigPaymentAction() used? https://mage2.pro/t/724
How is a payment method's authorize() used? https://mage2.pro/t/707
How is a payment method's capture() used? https://mage2.pro/t/708

Нужно писать именно «authorize_capture», а не «capture»:
https://github.com/magento/magento2/blob/6ce74b2/app/code/Magento/Payment/Model/Method/AbstractMethod.php#L33
https://github.com/magento/magento2/blob/6ce74b2/app/code/Magento/Sales/Model/Order/Payment.php#L411-L433
				-->
				<payment_action>authorize_capture</payment_action>
				<title>Bank Card</title>
			</stripe>
		</df_payment>
        <payment>
            <dfe_stripe>
                <!--
                 	2016-02-15
                	https://github.com/magento/magento2/blob/6ce74b2/app/code/Magento/Payment/Helper/Data.php#L88-L91
                -->
				<model>Dfe\Stripe\Method</model>
            </dfe_stripe>
        </payment>
    </default>
</config>
