<?xml version='1.0'?>
<config
	xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
	xsi:noNamespaceSchemaLocation='urn:magento:module:Df_Config:etc/system_file.xsd'
>
	<system>
		<section id='df_payment'>
<!-- 2015-09-25, 2017-10-22
Magento 2 is not capable to automatically order settings groups
in the backend «Stores» → «Configuration» left menu by alphabet.
To achieve such ordering, I use the following 2 rules to assign a `sortOrder` value to a settings group:
1) The 1-st and 2-nd digits of a `sortOrder` value
are the digits of the ordering number of the 1-st letter of the module's label in the English alphabet:
https://en.wikipedia.org/w/index.php?title=English_alphabet&oldid=819841239
2) The 3-rd and 4-nd digits of a `sortOrder` value
are the digits of the ordering number of the 2-nd letter of the module's label in the English alphabet.
===
An example:
A label is «Stripe».
The first letter is «S». It is the 19-nd letter of the English alphabet.
The second letter is «t». It is the 20-nd letter of the English alphabet.
So the `sortOrder` value is 1920.
-->
			<group
				id='stripe'
				showInDefault='1' showInStore='1' showInWebsite='1'
				sortOrder='1920'
				translate='label'
			>
				<label>Stripe</label>
				<dfExtension>Dfe_Stripe</dfExtension>
				<frontend_model>Df\Config\Fieldset</frontend_model>
				<field
					id='enable'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='1'
					translate='label'
					type='Df\Framework\Form\Element\Checkbox'
				>
					<label>Enable?</label>
					<backend_model>Df\Config\Backend\Checkbox</backend_model>
					<comment><![CDATA[Enable the «<a href='https://mage2.pro/c/stripe' target='_blank'>Stripe</a>» payment extension?]]></comment>
				</field>
				<field
					id='title'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='2'
					translate='label'
					type='text'
				>
					<label>Title</label>
					<comment><![CDATA[It is shown on the checkout screen.]]></comment>
					<depends><field id='enable'>1</field></depends>
					<validate>required-entry</validate>
				</field>
				<field
					id='test'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='3'
					translate='label'
					type='Df\Framework\Form\Element\Checkbox'
				>
					<label>Test Mode?</label>
					<backend_model>Df\Config\Backend\Checkbox</backend_model>
					<comment><![CDATA[<a href='https://stripe.com/docs/testing#cards' target='_blank'>test cards</a>]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='testPublishableKey'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='4'
					translate='label'
					type='text'
				>
					<label>Test Publishable Key</label>
					<comment><![CDATA[<a href='https://mage2.pro/t/726' target='_blank'>How to get it?</a>]]></comment>
					<depends>
						<field id='enable'>1</field>
						<field id='test'>1</field>
					</depends>
				</field>
				<field
					id='testSecretKey'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='5'
					translate='label'
					type='obscure'
				>
					<label>Test Secret Key</label>
					<comment><![CDATA[<a href='https://mage2.pro/t/726' target='_blank'>How to get it?</a>]]></comment>
					<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
					<depends>
						<field id='enable'>1</field>
						<field id='test'>1</field>
					</depends>
				</field>
				<field
					id='livePublishableKey'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='7'
					translate='label'
					type='text'
				>
					<label>Live Publishable Key</label>
					<comment><![CDATA[<a href='https://mage2.pro/t/726' target='_blank'>How to get it?</a>]]></comment>
					<depends>
						<field id='enable'>1</field>
						<field id='test'>0</field>
					</depends>
				</field>
				<field
					id='liveSecretKey'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='8'
					translate='label'
					type='obscure'
				>
					<label>Live Secret Key</label>
					<comment><![CDATA[<a href='https://mage2.pro/t/726' target='_blank'>How to get it?</a>]]></comment>
					<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
					<depends>
						<field id='enable'>1</field>
						<field id='test'>0</field>
					</depends>
				</field>
				<field 
					id='webhook' 
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='9'
					translate='label'
					type='Df\Framework\Form\Element\Webhook'
				>
					<label>Webhook</label>
					<comment><![CDATA[<a href='https://mage2.pro/t/977' target='_blank'>set it in your Stripe account</a>]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='currency'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='10'
					translate='label'
					type='Dfe\Stripe\FE\Currency'
				>
					<label>Payment Currency</label>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='actionForNew'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='11'
					translate='label'
					type='select'
				>
					<label>Payment Action for a New Customer</label>
					<source_model>Df\Payment\Source\ACR</source_model>
					<comment><![CDATA[A customer is regarded as <b>new</b>, if he does not have any order in the «Completed» or «Processing» state.]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='actionForReturned'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='12'
					translate='label'
					type='select'
				>
					<label>Payment Action for a Returned Customer</label>
					<source_model>Df\Payment\Source\ACR</source_model>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='description'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='13'
					translate='label'
					type='textarea'
				>
					<comment model='Df\Payment\Comment\Description'/>
					<depends><field id='enable'>1</field></depends>
					<label>Description</label>
				</field>
				<field
					id='dsd'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='14'
					translate='label'
					type='text'
				>
					<label>Dynamic statement descripor</label>
					<comment><![CDATA[An arbitrary string to be shown <a href='https://stripe.com/blog/dynamic-descriptors' target='_blank' title='A blog article from the Stripe website.'>on your customer's bank card statement</a>.
<br/>This may be up to <b>22</b> characters, may not include <b><>"'</b> characters, and will appear on your customer's statement in capital letters.
<br/>Non-ASCII characters are automatically stripped.]]></comment>
					<depends><field id='enable'>1</field></depends>
					<validate>validate-length maximum-length-22</validate>
				</field>
				<field
					id='metadata'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='15'
					translate='label'
					type='Df\Framework\Form\Element\Multiselect'
				>
					<label>Metadata</label>
					<source_model>Df\Payment\Metadata</source_model>
					<comment><![CDATA[It is shown in the Stripe web interface <a href="https://mage2.pro/t/932">alongside the payment</a>.]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='requireCardholder'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='16'
					translate='label'
					type='Df\Framework\Form\Element\Checkbox'
				>
					<label>Require the cardholder's name?</label>
					<backend_model>Df\Config\Backend\Checkbox</backend_model>
					<comment><![CDATA[Stripe does not require it, but you can require it from your customers.]]></comment>
					<depends>
						<field id='enable'>1</field>
					</depends>
				</field>
				<field
					id='prefillCardholder'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='17'
					translate='label'
					type='Df\Framework\Form\Element\Checkbox'
				>
					<label>Prefill the cardholder's name from the billing address?</label>
					<backend_model>Df\Config\Backend\Checkbox</backend_model>
					<depends>
						<field id='enable'>1</field>
						<field id='requireCardholder'>1</field>
					</depends>
				</field>
				<field
					id='singleLineMode'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='18'
					translate='label'
					type='Df\Framework\Form\Element\Checkbox'
				>
					<label>Show the bank card input fields in a single line?</label>
					<backend_model>Df\Config\Backend\Checkbox</backend_model>
					<comment><![CDATA[]]></comment>
					<depends>
						<field id='enable'>1</field>
					</depends>
				</field>
				<field
					id='requireBillingAddress'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='19'
					translate='label'
					type='Df\Framework\Form\Element\Checkbox'
				>
					<label>Require the billing address?</label>
					<backend_model>Df\Config\Backend\Checkbox</backend_model>
					<comment><![CDATA[If <b>checked</b>, Magento will require the billing address. It is the default Magento behavior.<br/>If <b>unchecked</b>, Magento will not require the billing address, and even will not ask for it.]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='min_order_total'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='20'
					translate='label'
					type='text'
				>
					<label>Minimum Order Total</label>
					<comment><![CDATA[]]></comment>
					<validate>validate-number validate-greater-than-zero</validate>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='max_order_total'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='21'
					translate='label'
					type='text'
				>
					<label>Maximum Order Total</label>
					<comment><![CDATA[]]></comment>
					<validate>validate-number validate-greater-than-zero</validate>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='country_restriction'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='22'
					translate='label'
					type='select'
				>
					<label>Country Restriction</label>
					<source_model>Df\Config\Source\NoWhiteBlack</source_model>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='countries'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='23'
					translate='label'
					type='Df\Framework\Form\Element\Multiselect'
				>
					<label>Countries</label>
					<source_model>Magento\Directory\Model\Config\Source\Country</source_model>
					<can_be_empty>1</can_be_empty>
					<depends>
						<field id='enable'>1</field>
<!-- 2016-03-08 «The negative syntax for a backend config field <depends> condition» https://mage2.pro/t/329 -->
						<field id='country_restriction' negative='1'>0</field>
					</depends>
					<comment><![CDATA[Customers from which countries can (or can not) use the method?]]></comment>
				</field>
				<group
					id='3ds'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='24'
					translate='label'
				>
					<label>3D Secure</label>
					<comment><![CDATA[<p class='df-note'>These settings are applied only to the bank cards with <b><a href='https://stripe.com/docs/sources/three-d-secure#check-requirement' target='_blank' title='«Stripe API Documentation» → «3D Secure Card Payments with Sources» → «Step 2: Determine if the card supports or requires 3D Secure»'>optional</a></b> 3D Secure verification support.</p>
<ul class='df-note'>
<li>If 3D Secure verification is <b>required</b> for a bank card, then these settings will be ignored, and 3D Secure verification will be <b>enforced</b> for the bank card.</li>
<li>If 3D Secure verification is <b>not supported</b> by a bank card, then these settings will be ignored, and 3D Secure verification will <b>not be used</b> for the bank card.</li></ul>]]></comment>
					<depends><field id='enable'>1</field></depends>
					<field
						id='forAll'
						showInDefault='1' showInStore='1' showInWebsite='1'
						sortOrder='1'
						translate='label'
						type='Df\Framework\Form\Element\Checkbox'
					>
						<label>Use 3D Secure validation for all customers?</label>
						<backend_model>Df\Config\Backend\Checkbox</backend_model>
					</field>
					<field
						id='forNew'
						showInDefault='1' showInStore='1' showInWebsite='1'
						sortOrder='2'
						translate='label'
						type='Df\Framework\Form\Element\Checkbox'
					>
						<label>Use 3D Secure validation for new customers?</label>
						<backend_model>Df\Config\Backend\Checkbox</backend_model>
						<comment><![CDATA[A customer is regarded as <b>new</b>, if he does not have any order in the «Completed» or «Processing» state.]]></comment>
						<depends><field id='forAll'>0</field></depends>
					</field>
					<field
						id='forShippingDestinations'
						showInDefault='1' showInStore='1' showInWebsite='1'
						sortOrder='3'
						translate='label'
						type='select'
					>
						<label>Use 3D Secure validation for particular shipping destinations?</label>
						<source_model>Df\Config\Source\NoWhiteBlack\Specified</source_model>
						<depends><field id='forAll'>0</field></depends>
					</field>
					<field
						id='forShippingDestinations_countries'
						showInDefault='1' showInStore='1' showInWebsite='1'
						sortOrder='4'
						translate='label'
						type='Df\Framework\Form\Element\Multiselect'
					>
						<label>Countries</label>
						<can_be_empty>1</can_be_empty>
						<depends>
							<field id='forAll'>0</field>
<!-- 2016-03-08 «The negative syntax for a backend config field <depends> condition» https://mage2.pro/t/329 -->
							<field id='forShippingDestinations' negative='1'>0</field>
						</depends>
						<source_model>Magento\Directory\Model\Config\Source\Country</source_model>
					</field>
					<field
						id='forIPs'
						showInDefault='1' showInStore='1' showInWebsite='1'
						sortOrder='5'
						translate='label'
						type='select'
					>
						<label>Use 3D Secure validation for particular customer locations (detected by IP Address)?</label>
						<depends><field id='forAll'>0</field></depends>
						<source_model>Df\Config\Source\NoWhiteBlack\Specified</source_model>
					</field>
					<field
						id='forIPs_countries'
						showInDefault='1' showInStore='1' showInWebsite='1'
						sortOrder='6'
						translate='label'
						type='Df\Framework\Form\Element\Multiselect'
					>
						<label>Countries</label>
						<can_be_empty>1</can_be_empty>
						<comment>Customers from which countries can (or can not) use the method?</comment>
						<depends>
							<field id='forAll'>0</field>
<!-- 2016-03-08 «The negative syntax for a backend config field <depends> condition» https://mage2.pro/t/329 -->
							<field id='forIPs' negative='1'>0</field>
						</depends>
						<source_model>Magento\Directory\Model\Config\Source\Country</source_model>
					</field>
				</group>
			</group>
		</section>
	</system>
</config>